/* * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

#warning {
    /* display: inline-block; */
    width: 70%;
    /* height: 300px; */
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%) rotate(-45deg);
    border: 4px solid red;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 8rem;
    text-align: center;
    color: rgb(204, 25, 25);
    text-shadow: 1px 1px 2px #fff, 1px 1px 3px #000;
}

@media only screen and (max-width: 959px  ) {
    #warning {
        width: 70%;
        font-size: 6rem;
    }
}

@media only screen and (max-width: 767px  ) {
    #warning {
        width: 70%;
        font-size: 4rem;
    }
}

@media only screen and (max-width: 479px  ) {
    #warning {
        width: 70%;
        font-size: 2rem;
    }
}

h1, h2, h3 {
    text-transform: uppercase;
}

h2 {
    font-size: 56px;
    font-family: "Bebas Neue";
    color: rgb(26, 25, 24);
    text-align: center;
}

.container {
    max-width: 1600px;
}
main, section {
    width: inherit;
}

.main-banner {
    width: 100%;
    height: 876px;
    border: 1px solid grey;
}

.main-banner-bg {
    height: 100%;
    background-image: url(../img/web-design_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 25px;
    color:white;
    background-color: rgba(0,0,0,.7);
}

.menu-wrapper {
    width: 100%;
    display: flex;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    /* max-width: 700px; */
}

.menu {
    /* display: inline-block; */
    display: flex;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    margin-right: 50px;
    list-style: none;
}

.menu__item {
    display: inline-block;
}

.menu__link {
    display: inline-block;
    border: 1px solid transparent;
    height: 36px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    line-height: 36px;
    text-align: center;
}

.menu__link:hover {
    border: 1px solid white;
    color: rgb(197, 153, 102);
}

h1 {
    font-size: 8rem;
  font-family: 'Bebas Neue';
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 225px;
  margin-bottom: -15px;
  text-shadow: 2px 2px #000, 1px 1px 3px #fff;
}

.title-line {
    display: block;
    background-color: rgb(198, 155, 110);
    margin: auto auto 30px;
    width: 170px;
    height: 4px;
}

.slogan {
  font-size: 1rem;
  font-family: "Open Sans";
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-align: center;
}

.scroll-down-icon {
  border: 1px solid rgb(255, 255, 255);
  background-color: #2d2c29;
  box-shadow: 2.5px 4.33px 5px 0px rgba(0, 0, 0, 0.75),inset 3.536px -3.536px 5px 0px rgba(0, 0, 0, 0.75);
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: 782px;
  width: 38px;
  height: 38px;
  font-size: 2rem;
  color: rgb(198, 155, 110);
  line-height: 1.2;
  text-align: center;
}

.about-me__head {
    margin-top: 95px;
    margin-bottom: -10px;
}

.about-me__slogan {
  font-size: 1rem;
  font-family: "Open Sans";
  font-weight: 600;
  color: rgb(26, 25, 24);
  text-align: center;
  margin-bottom: 140px;
}

.about-me__boxes-wrapper {
    width: 100%;
}

.about-me__box-content {
    display:flex;
    justify-content: space-between;
    border: 1px solid rgb(204, 204, 204);
    border-width: 1px;
    width: 434px;
    height: 160px;
    padding: 30px;
    position: absolute;
}

.about-me__box-content1 {
    left:11.2%;
    margin-top: -75px;
}

.about-me__box-content2 {
    margin-top: 355px;
    left:11.2%;
    /* transform: translateX(34.813%); */
}

.about-me__box-content3 {
    margin-top: 785px;
    left:11.2%;
    /* transform: translateX(34.813%); */
}

.about-me__box-content4 {
    left: 55.7%;
    margin-top: 141px;
}

.about-me__box-content5 {
    left: 55.7%;
    margin-top: 568px;
}

.about-me__header {
    /* display: block; */
    /* width: 50%; */
    font-size: 1.125rem;
    font-family: "Open Sans";
    color: rgb(197, 154, 109);
    font-weight: bold;
    /* line-height: 1.2; */
    text-align: left;
    margin: 0;
}

.about-me__text {
    font-size: 0.875rem;
    font-family: "Open Sans";
    color: rgb(26, 25, 24);
    line-height: 1.4;
    text-align: left;
    width: 255px;
}

.about-me__icons {
    border: 1px solid rgb(204, 204, 204);
    width: 74px;
    height: 74px;
    box-sizing: border-box;
}

.fa-flag,
.fa-building,
.fa-trophy,
.fa-graduation-cap,
.fa-briefcase {
  font-size: 2rem;
  color: rgb(197, 154, 109);
  line-height: 74px;
  text-align: center;
}

.diagram {
    width: 110px;
    margin: auto;
}

.diagram__item {
    list-style: none;
    margin-bottom: 195px;
    font-size: 1.125rem;
    font-family: "Open Sans";
    color: rgb(197, 154, 109);
    font-weight: bold;
    text-align: left;
    width: 110px;
    height: 18px;
    line-height: 0;
}

.diagram__item span {
    display: inline-block;
    -webkit-transform: translateX(-82px);
    -moz-transform: translateX(-82px);
    -ms-transform: translateX(-82px);
    -o-transform: translateX(-82px);
    transform: translateX(-82px);
}

.diagram__item::before {
    content: '';
    display: inline-block;
    border: 2px solid white;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    transform: translateY(1px);
    background-color: rgb(197, 154, 109);
}

.timeline::after {
    display: block;
    content: '';
    width: 2px;
    height: 200px;
    background-color: rgb(204, 204, 204);
    margin-left: 6px;
}

.load-more-btn {
    display: block;
    color:white;
    text-transform: uppercase;
    border:none;
    background-color: rgb(197, 154, 109);
    width: 170px;
    height: 32px;
    margin: auto;
}

.progress-container {
    margin: auto;
    max-width: 960px;
    display: flex;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid lightgrey;
}

.progress {
    max-width: 400px;
    margin: 5px;
    height: 15px;
    color: rgb(26, 25, 24);
    background-color: #ffc45f;
    border-radius: 4px;
    /* color: burlywood; */
}

.works {
    padding-top: 50px;
    background: #1b1a18;
}

.works__head {
    margin-bottom: 0;
    color: #fff;
}

.works__slogan {
    margin: 5px 0 70px;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 600;
    color:white;
}

.works-wrapper {
    max-width: 1174px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 340px;
    height: 248px;
    margin: 14px;
    /* padding: 15px; */
    background-image: url(../img/Home_960px.jpg);
    background-size: cover;
}

.works__item-border {
    margin-bottom: 30px;
    border: 1px solid rgb(85, 85, 85);
}

.works__item-border:nth-child(2),
.works__item-border:nth-child(5) {
    margin-left: 30px;
    margin-right: 30px;
}

.item--4,
.item--5,
.item--6
{
    background-image: url(../img/bulat.png);
}

.works__item:hover {
    filter: blur(2px);
}
